.menu {
  position: relative;
  height: 12px;
  width: 21px;
}

.menu__mainButton {
  position: absolute;
  right: 0;
  top: 50%;
  height: fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
  transform: translateY(-70%);
}
