.menu {
  position: relative;
  height: 12px;
  width: 21px;
}

.menu__mainButton {
  position: absolute;
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
}

.menu__mainButton::after {
  content: "···";
  position: absolute;
  bottom: -11px;
  right: 0;
}
