.popup-menu {
  position: absolute;
  right: -4px;
  padding: 5px 5px;
  height: 0;
  width: 0;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  background: rgb(74, 80, 88);
  z-index: 1;
}

.popup-menu::before {
  content: "";
  position: absolute;
  top: -5.2px;
  right: 9.5px;
  height: 9px;
  width: 9px;
  transform: rotateZ(45deg);
  border-left: 1px solid rgba(0, 0, 0, 0.22);
  border-top: 1px solid rgba(0, 0, 0, 0.22);
  background: black;
  background: rgba(72, 79, 89, 1);
}

.popup-menu_top-position {
  top: 23px;
}

.popup-menu_top-position-reversed {
  top: -93px;
}

.popup-menu_size {
  height: fit-content;
  width: max-content;
}

.popup-menu_positionReversed::before {
  content: "";
  position: absolute;
  top: 78px;
  right: 9.5px;
  height: 9px;
  width: 9px;
  transform: rotateZ(225deg);
  border-left: 1px solid rgba(0, 0, 0, 0.22);
  border-top: 1px solid rgba(0, 0, 0, 0.22);
  background: black;
  background: rgba(72, 79, 89, 1);
}
